img {
    width: 200px; 
    height: 200px;
    object-fit: cover;
    object-position: 20% 10%;
    border-radius: 50%;
}

h2 {
    text-align: center;
    margin: 2em;
}

h3 {
    color: red;
}

hr {
    margin-top: 5em;
}

.nav {
    background-color: rgb(13, 32, 48);
}

.container {
    display: flex;
    width: 75%;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 3;
}

.pet {
   text-decoration: none;
}

.pet-name {
    font-size: xx-large;
    text-decoration: none;
    color: red;
}

.pet a {
    display: block;
    text-decoration: none;
    text-align: center;
}

.pet a:hover{
    background-color: aliceblue;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }


p {
    color: red;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }